.container{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.profileInformation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    
    & .profilePicture{
        position: relative;

        & > img {
            border: .1rem solid black;
            border-radius: 100%;

            height: 5rem;
            width: 5rem;

            object-fit: cover;
        }

        & .changeTool {
            position: absolute;
            right: .25rem;
            bottom: .25rem;
        }
    }
    
    & table > tbody {
        display: grid;
        grid-template-columns: min-content, 1fr;
        column-gap: .5rem;
        & tr {
            display: grid;
            grid-column: span 2;
            padding: unset;

            grid-template-columns: subgrid;

            &.table_row_venue_manager > td:last-child {
                display: flex;      
                gap: .5rem;
                align-items: center;
            }
        }
    }
}

.changeTool {
    --size: 2.5rem;

    padding: unset;
    background-color: white;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: unset;
    border-radius: 100%;
    border: .1rem solid black;

    height: var(--size);
    width: var(--size);

    & img {
        height: calc(var(--size) - .25rem);
        width: calc(var(--size) - .25rem);

  
        border-radius: 100%;
    }
}



.module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1rem;
    height: min-content;

    &:not([open]) {
        display: none;
    }

    & form {

        display: grid;
        grid-template-columns: repeat(2 1fr);
        column-gap: 1rem;
        row-gap: .5rem;

        & .message {
            grid-column: span 2;
        }

        & .error {
            color: red;
        
            &:not(span) {
                border: .25rem solid red;
                padding: .15rem;
        
                &:has(+ form input:focus) {
                    display: none;
                }
            }
        }

        & .inputText {
            grid-column: 1;
            display: flex;
            flex-direction: column;
        }
        
        & .inputCheckbox {
            display: flex;
        }

        & fieldset {
            grid-column: 2;
        }

        & fieldset.venueLocation {
            grid-row: span 2;
        }

        & fieldset.venueBasicInfo {
            grid-column: 1;
            grid-row: span 3;

            & .addImages {
                display: flex;
                flex-direction: column;
                gap: .25rem;
            
                & .delBtn {
                    padding-inline: .25rem;
                    padding-block: .1rem;
                    background-color: red;
                    color: white;
                }
            
                & button:not(.delBtn) {
                    max-width: min-content;
                    text-wrap: nowrap;
                    align-self: center;
                }
            }
        }

        & button:first-of-type {
            grid-column: 1;
        }

        & button:last-of-type {
            grid-column: 2;
        }
    }
}

.section {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;

    & > * {
        width: 100%;

        & h2 {
            margin: 0;
        }
    }
}

