.container{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.profileInformation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    
    & .profilePicture{
        & > img {
            border: .1rem solid black;
            border-radius: 100%;

            height: 5rem;
            width: 5rem;

            object-fit: cover;
        }
    }
    
    & table > tbody {
        display: grid;
        grid-template-columns: min-content, 1fr;
        column-gap: .5rem;
        & tr {
            display: grid;
            grid-column: span 2;
            padding: unset;

            grid-template-columns: subgrid;

            &.table_row_venue_manager > td:last-child {
                display: flex;      
                gap: .5rem;
                align-items: center;
            }
        }
    }
}

.changeTool {
    --size: 2.5rem;

    padding: unset;
    background-color: white;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: unset;
    border-radius: 100%;
    border: .1rem solid black;

    height: var(--size);
    width: var(--size);

    & img {
        height: calc(var(--size) - .25rem);
        width: calc(var(--size) - .25rem);

  
        border-radius: 100%;
    }
}

.section {
    --numberOfRows: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2rem;
    
    & section {
        grid-row: span var(--numberOfRows);

        display: grid;
        grid-template-rows: subgrid;
        gap: .75rem;

        & h2 {
            padding: 0;
            margin: 0;
            height: 3rem;
        }

        & .venueListTitle_button {
            height: min-content; 
            align-self: baseline;
        }
    }
}

.card {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content min-content min-content;
    row-gap: .5rem;
    column-gap: .25rem;
    background-color: hsl(0, 0%, 90%);
    padding: .5rem;
    border-radius: 1rem;
    height: min-content;

    &.card:has(> .hasError) {
        grid-template-rows: min-content min-content min-content min-content;
    }
    
    & .error {
        grid-column: span 3;
        grid-row: 4;
        color: red;
        justify-self: center;
        font-weight: 500;
    
        &:not(.hasError) {
            display: none;
        }
    }

    &:is(:hover, :focus, :focus-visible) {
        background-color: hsl(0, 0%, 8  0%);
    }

    & .innerCard {
        grid-column: span 2;
        grid-row: span 3;
        
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;


        & .cardImg {
            grid-row: span 3;
            height: 7rem;
            width: 7rem;
            border-radius: .75rem;
            border: 1px solid black;
        }

        & > div {
            grid-row: span 3;
            display: grid;
            grid-template-rows: subgrid;
    
            & h3 {
                margin: 0;
            }
    
            & span {
                align-self: end;
                color: black;
            }
            
            & .cardRating, .cardDates {
                align-self: start;       
            }
    
            & .cardRating {
                height: 1em;
            }
    
        }
    }    
        
    & .buttonDiv {
        grid-column: 3;
        grid-row: span 3;
        display: grid;
        
        & button {
            padding-inline: .25rem;
            padding-block: .1rem;
            height: min-content;
        
            &.delBtn {
                background-color: red;
                color: white;
            }
        }

    }
}

@media screen and (max-width: 670px) {
    .profileInformation {
        flex-direction: column;
        position: relative;
        align-items: center;

        & .profilePicture > img {
            height: 10rem;
            width: 10rem;
        }
    }

    .changeTool {
        position: absolute;
        top: 0;
        right: 0;
    }

    .section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }
}