.caruselConteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto min-content;
}

.caruselImg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    background-color: #eff2f7;;
}

.caruselConteiner > .caruselImg {
    grid-column: span 2;
    height: initial;
    width: initial;
}
